.header {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 50vh;
  background-color: #28527a;
  display: flex;
  justify-content: center;
  align-items: center;
}