.header {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exit-container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  min-height: 50vh;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}